{#
/**
 * @file
 * Default theme implementation for an administrative page.
 *
 * Available variables:
 * - system_compact_link: Themed link to toggle compact view.
 * - containers: An array of administrative blocks keyed by position: left or right.
 *
 * @see template_preprocess()
 * @see template_preprocess_admin_page()
 *
 * @ingroup themeable
 */
#}
<div class="admin clearfix">
  {{ system_compact_link }}
  {% for position, container in containers %}
    <div class="{{ position }} clearfix">
      {% for i in container.blocks|keys %}
        {{ container.blocks[i] }}
      {% endfor %}
    </div>
  {% endfor %}
</div>
