{#
/**
 * @file
 * Default theme implementation for authorize.php operation report templates.
 *
 * This report displays the results of an operation run via authorize.php.
 *
 * Available variables:
 * - report: A list of result messages.
 * - attributes: HTML attributes for the element.
 *
 * @see template_preprocess()
 * @see template_preprocess_authorize_report()
 *
 * @ingroup themeable
 */
#}
{% if report %}
  <div{{ attributes }}>
    {% for messages in report %}
      {{ messages }}
    {% endfor %}
  </div>
{% endif %}
