{#
/**
 * @file
 * Default theme implementation for a form.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the form element.
 * - children: The rendered child form elements.
 *
 * @see template_preprocess()
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
 @todo: remove the inner div once http://drupal.org/node/1822210 is resolved.
#}
<form{{ attributes }}>
  <div>
    {{ children }}
  </div>
</form>
