{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - link: A rendered link element.
 *
 * @see template_preprocess()
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
<li>{{ link }}</li>
