{#
/**
 * @file
 * Default theme implementation for a "more help" link.
 *
 * Available variables:
 * - url: The URL for the link.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<div class="more-help-link">
  <a href="{{ url }}">{{ 'More help'|t }}</a>
</div>
