{#
/**
 * @file
 * Default theme implementation for a "more help" link.
 *
 * Available variables:
 * - url: The URL for the link.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
 @todo Cleanup after http://drupal.org/node/1812562 is resolved.
 @todo Remove this file once http://drupal.org/node/1595614 is resolved?
#}
<div class="more-help-link">
  <a href="{{ url }}">{{ 'More help'|t }}</a>
</div>
