{#
/**
 * @file
 * Default theme implementation for the Powered by Drupal text.
 *
 * @see template_preprocess()
 * @see template_preprocess_system_powered_by()
 *
 * @ingroup themeable
 */
#}
<span>{{ 'Powered by <a href="http://drupal.org">Drupal</a>'|t }}</span>
