{#
/**
 * @file
 * Default theme implementation for a link to show or hide inline help
 *   descriptions.
 *
 * @see template_preprocess()
 * @see template_preprocess_system_compact_link()
 *
 * @ingroup themeable
 */
#}
<div class="compact-link">{{ link }}</div>
