{#
/**
 * @file
 * Default theme implementation for a set of vertical tabs.
 *
 * Available variables
 * - children: The rendered child fieldset elements.
 *
 * @see template_preprocess()
 * @see template_preprocess_vertical_tabs()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>{{ children }}</div>
