{#
/**
 * @file
 * Default theme implementation to display an appropriate icon for a forum post.
 *
 * Available variables:
 * - new_posts: Indicates whether or not the topic contains new posts.
 * - icon_class: The icon to display. May be one of 'hot', 'hot-new', 'new',
 *   'default', 'closed', or 'sticky'.
 * - icon_title: Text alternative for the forum icon.
 * - first_new: Indicates whether this is the first topic with new posts.
 *
 * @see template_preprocess()
 * @see template_preprocess_forum_icon()
 *
 * @ingroup themeable
 */
#}
<div class="icon topic-status-{{ icon_class }}" title="{{ icon_title }}">
  {% if first_new %}<a id="new"></a>{% endif %}
  <span class="element-invisible">{{ icon_title }}</span>
</div>
