{#
/**
 * @file
 * Default theme implementation for the last time we checked for update data.
 *
 * Available variables:
 * - last_checked: A boolean when the site last checked for available updates.
 * - time: The time the site last checked for updates.
 * - link: A link to check for updates manually.
 *
 * @see template_preprocess()
 * @see template_preprocess_update_last_check()
 *
 * @ingroup themeable
 */
#}
<div class="update checked">
  {% if last_checked %}
    {{ 'Last checked: @time ago'|t({'@time': time}) }}
  {% else %}
    {{ 'Last checked: never'|t }}
  {% endif %}
  <span class="check-manually">({{ link }})</span>
</div>
